.svg-map {
    width: 100%;
    height: 100%;
    stroke: #777;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.svg-map__location {
    cursor: pointer;
    outline: 0;
}

.svg-map__location:focus{

    fill: #777;
}